Ansible/


Docker/DockerHub.MD
Docker/Docker_Commands.MD
Docker/Docker_Installation_Steps.MD
Docker/Dockerfile_Instructions.md
Docker/install_apache_dockerfile.txt


Jenkins/Ansible_integration.MD
Jenkins/Git_plugin_install.MD
Jenkins/Jenkins_Installation.MD
Jenkins/maven_install.MD

Jenkins_Jobs/Deploy_on_Container.MD
Jenkins_Jobs/Deploy_on_Container_using_Ansible.MD
Jenkins_Jobs/Deploy_on_Docker.MD
Jenkins_Jobs/Deploy_on_Tomcat_Server.MD
Jenkins_Jobs/Dockerfile.txt
Jenkins_Jobs/My_First_Maven_Build.MD



Kubernetes/Integrating_Kubernetes_with_Ansible.MD
Kubernetes/Integrating_Kubernetes_with_Jenkins.MD
Kubernetes/Kubernetes_Setup_using_kops.md
Kubernetes/Kubernetes_Setup_using_kubeadm.md

Kubernetes/kubernetes_setup_using_eksctl.md


Tomcat/tomcat_installation.MD
Tomcat/Devops_course.PNG
